<md-dialog style = "min-height: 45%;">
    <md-toolbar>
      <div class="md-toolbar-tools">
            <h2 flex="flex">Добавление задания</h2>
      </div>
    </md-toolbar>
  <md-dialog-content>
      <form>
          <md-checkbox ng-model = "task.isOpen" aria-label = "Тип вопроса" style = "position: absolute; right: 10px; padding-top: 15px; padding-right: 10px;">
              Открытый вопрос
          </md-checkbox>
          <md-input-container style = "width:50%;">
              <label>Сложность вопроса</label>
              <md-select ng-model = "task.difficulty">
                  <md-option value = '1'>1</md-option>
                  <md-option value = '2'>2</md-option>
                  <md-option value = '3'>3</md-option>
                  <md-option value = '4'>4</md-option>
              </md-select>
          </md-input-container>
          <p>
              <md-input-container style = "margin-right: 10px; width: 100%;">
                    <label>Текст задания</label>
                    <textarea ng-model = "task.text" style = "width: 100%;"></textarea>
              </md-input-container>
          </p>
          <p ng-hide = "task.isOpen">
              <md-input-container style = "margin-right: 10px; width: 100%;">
                    <label>Ответы</label>
                    <textarea ng-model = "tempStr.strAnsw" style = "width: 100%;"></textarea>
              </md-input-container>
              <md-input-container style = "width: 45%;">
                  <label>Номер правильного варианта ответа</label>
                  <textarea ng-model = "task.answer"></textarea>
              </md-input-container>
          </p>
      </form>
  </md-dialog-content>
<md-dialog-actions layout = "row" style="position: absolute; bottom:0; right: 0px;">
      <span flex></span>
        <md-button ng-click="closeDialog(true)">
             ОК
        </md-button>
        <md-button ng-click="closeDialog(false)">
          Отмена
    </md-button>
</md-dialog-actions>
</md-dialog>