
<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Выдача заданий</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Выбрать студентов">
          <md-content class="md-padding">
            <div ng-repeat = "tempUser in tempUsers">
				<p> <input type = "checkbox" ng-model = "tempUser.selected"> {{tempUser.stName}} </p>
			</div>
			
          </md-content>
        </md-tab>
        <md-tab label="Выбрать теорию">
          <md-content class="md-padding">
            <div ng-repeat = "tempTheory in tempTheories">
				<p> <input type = "checkbox" ng-model = "tempTheory.selected"> {{tempTheory.title}} </p>
			</div>
          </md-content>
        </md-tab>
        <md-tab label="Выбрать задания">
          <md-content class="md-padding">
			<h3 style = "padding-bottom: 40px;">Сложность: 1</h3>
            <div ng-repeat = "tempTask in tempTasks | filter: {difficulty: '1'}">
				<p> <input type = "checkbox" ng-model = "tempTask.selected"> {{tempTask.text | limitTo:30 }}... <div ng-hide = "!tempTask.isOpen">Вариантов ответа : {{tempTask.variants.length}} </div> </p>
			</div>
			<h3 style = "padding-top: 40px; padding-bottom: 40px;">Сложность: 2</h3>
            <div ng-repeat = "tempTask in tempTasks | filter: {difficulty: '2'}">
				<p> <input type = "checkbox" ng-model = "tempTask.selected"> {{tempTask.text | limitTo:30 }}... <div ng-hide = "!tempTask.isOpen">Вариантов ответа : {{tempTask.variants.length}} </div> </p>
			</div>
			<h3 style = "padding-top: 40px; padding-bottom: 40px;">Сложность: 3</h3>
            <div ng-repeat = "tempTask in tempTasks | filter: {difficulty: '3'}">
				<p> <input type = "checkbox" ng-model = "tempTask.selected"> {{tempTask.text | limitTo:30 }}... <div ng-hide = "!tempTask.isOpen">Вариантов ответа : {{tempTask.variants.length}} </div> </p>
			</div>
			<h3 style = "padding-top: 40px; padding-bottom: 40px;">Сложность: 4</h3>
            <div ng-repeat = "tempTask in tempTasks | filter: {difficulty: '4'}">
				<p> <input type = "checkbox" ng-model = "tempTask.selected"> {{tempTask.text | limitTo:30 }}... <div ng-hide = "!tempTask.isOpen">Вариантов ответа : {{tempTask.variants.length}} </div> </p>
			</div>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog(true)" >
        ОК
      </md-button>
      <md-button ng-click="closeDialog(false)" style="margin-right:20px;" >
        Отмена
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
