@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.container {
  max-width: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

.redBtn {
	border-color: red;
	border-style: solid;
	border-radius: 5px;
	background: white;
	color: black;
}

.redBtn:hover {
	background-color: red;
}

.btn-block {
  display: block;
  width: 100%;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.iconRow {
	max-height: 30px;
	max-width: 30px;
	display: inline-flex;
	justify-content: flex-end;
}

.iconRow img {
	display: block;
	width: 100%;
}

.iconRow > * {
	margin: 0 10px;
}

.teacherList {
	padding-top: 20px;	
	padding-left: 25px;
}

.teacherList {
	list-style-type: none;
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.studentCard {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.stCard1 {
	background-image: url('./img/bgtasks.svg');
}

.stCard2 {
	background-image: url('./img/bgstats.svg');
}

.onCardCtnr {
	background-color: white;
	color: black;
	display: inline-block;
	position: sticky;
	left: 50%;
	top: 50%
}

.sidebar {
	min-width: 400px;
	max-width: 400px;
	color: #000;
}

.chosenSidebar {
	border-style: none none none solid;
	border-width: 5px;
	border-color: black;
}

.sidebar img {
	filter: invert(1);
	width: 40px;
	margin-right: 20px
}

.notChosenPlaceholder {
    display: flex;
	align-items: center;
}

.notChosenPlaceholder p {
	margin-left: auto;
    margin-right: auto;
}
